namespace SKTools.ScriptingDefineManager
{
    public class Constants
    {
        public static string DirectoryPathInAssets = "{0}";
        public static string AssetDirectoryPathForPresets = "{1}";
        public static string AbsoluteDirectoryPathForPresets = @"{2}";
    }
}


